#bgimg {
    background: linear-gradient(rgba(26, 25, 25, 0.7), rgba(96, 101, 101, 0.7)),
        url('/image/homebg.jpg') no-repeat center center/cover;
    min-height: 90vh;
    position: relative;
    overflow: hidden;
    background-attachment: fixed;
}

#row {
    transition: all 3s ease-in-out;
}

.cards:hover {
    transform: scale(1.05);
}