.custom-links a {
    text-decoration: none;
    color: #000;
    margin-left: 20px;
    font-weight: 500;
    transition: color 0.3s ease, transform 0.2s ease;
}

.custom-links a:hover {
    color: #010710;
    transform: translateY(-2px);
}

#filterSidebar {
    transition: all 0.2s ease;
    border-left: 1px solid #dee2e6;
}

#filterSidebar.show {
    transform: translateX(0%);
    transition: transform 0.2s ease-in-out;
}

#filterSidebar.transition {
    transition: transform 0.2s ease-in-out;
}

.nav-pills .nav-link.active {
    background-color: transparent !important;
    color: black !important;
    font-weight: bold 100px;

    border-bottom: 2px solid black;
}

@media (max-width: 768px) {
    .custom-header {
        flex-direction: column;
        align-items: stretch;
        gap: 1rem;
    }

    .custom-links {
        justify-content: center;
    }

    #searchInput {
        width: 100% !important;
    }
}

  /* Responsive adjustments for toast */
    @media (max-width: 576px) {
      .toast-container {
        padding: 1rem !important;
      }

      .toast {
        width: 100%;
        max-width: 300px;
      }
    }

    @media (min-width: 577px) {
      .toast {
        width: 350px;
      }
    }